.header {
  background-image: url("/assets/img/background.jpg");
  height: 30vh;
  background-size: cover;
  background-position: center;
}
.blockContainter {
  width: 50%;
  margin: auto;
  text-align: center;
  .title {
    font-size: 48pt;

    font-family: "Calistoga", cursive;
  }
}
